<html>
    <head>
        <meta charset="UTF-8">
        <title> Register </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='application.css') }}">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Register</h1>
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{message}}</div>
                    <input id="first_name" name="username" type="text" placeholder="Enter Your First Name" class="textbox"/>
                    <input id="second_name" name="username" type="text" placeholder="Enter Your Surname" class="textbox"/>
                    <input id="email" name="email" type="text" placeholder="Enter Your Email" class="textbox"/>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/>
                    <input type="submit" class="btn" value="Sign Up"></br>
                </form>
            </h2>
            <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
          </div>
        </div>
    </body>
</html>
