<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>View posts | Flask</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

       <!-- Main Content -->
    <article>
        <div align="left" >
             <form action="http://127.0.0.1:5000/">
                <div>
                    <strong>Filter Posts by:</strong>
                    <br />
                    <a href="/viewposts/Tech"class="btn btn-primary">Tech</a>
                    <a href="/viewposts/Food"class="btn btn-primary">Food</a>
                    <a href="/viewposts/DIY"class="btn btn-primary">DIY</a>
                    <a href="/viewposts/Home"class="btn btn-primary">Home</a>
                    <a href="/viewposts/Sport"class="btn btn-primary">Sport</a>
                    <a href="/viewposts/Gaming"class="btn btn-primary">Gaming</a>
                    <a href="/viewposts/Animals"class="btn btn-primary">Animals</a>
                    <a href="/viewposts/Existential"class="btn btn-primary">Existential</a>
                    <a href="/viewposts/Other"class="btn btn-primary">Other</a>
                    <a href="/viewposts"class="btn btn-primary">View All Posts</a>
                    <br/>
                    <br/>
                    <a href="/addpost"class="btn btn-primary">Add Post</a>
                    <br/>
                    <br/>
                    <a href="/logout"class="btn btn-primary">Logout</a>
                 </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                    <div class="row">
                        <strong>Post Title:</strong>
                        {{ post.title }}
                        <br/>
                        <strong>Author:</strong>
                        {{post.username}}
                        <br/>
                        <a href="/view-post/{{ post.id }}">View Post</a>
                        <hr>
                    </div>
                {% endfor %}
            </div>
          </div>
        </div>
    </article>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
